@import url('https://fonts.cdnfonts.com/css/poppins');

:root {
    color-scheme: dark;
}

* {
    box-sizing: border-box;
}

p,
h1,
h2 {
    margin: 0 0 0 0;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrapper {
    margin: 60px auto;
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    gap: 40px;
}

.ava {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.ava div {
    border-radius: 100%;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    padding: 0 0 0 0;
    background-image: url('./ava.jpg');
    box-shadow: 0 0 30px 5px #000000 inset;
    background-position: center;
    background-size: contain;
}

.ava img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 100%;
    pointer-events: none;
}

.ava span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.ava span h1 {
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.ava span h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.ava span h2 img {
    max-height: 20px;
    max-width: 20px;
    border-radius: 0px;
}

.tags-wrapper {
    width: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
}

.tags {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.tag {
    position: relative;
    border-radius: 20px;
    padding: 5px 14px 5px 14px;
    font-size: 12px !important;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.tag img {
    max-height: 12px;
    max-width: 12px;
}

.team {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.button {
    position: relative;
    display: inline-block;
    outline: 0;
    white-space: nowrap;
    padding-left: 26px;
    padding-right: 26px;
    line-height: 46px;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: #050505 !important;
    text-decoration: none;
}

.gradient-border {
    background: #000000;
    position: relative;
    border-radius: 20px;
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * 15px);
    left: calc(-1 * 15px);
    height: calc(100% + 15px * 2);
    width: calc(100% + 15px * 2);
    background: linear-gradient(60deg,
            #cd2148,
            #ed14e7,
            #0a8d8f);
    border-radius: 100%;
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
    filter: blur(60px);
}

.tag:after {
    border-radius: 20px;
    top: calc(-1 * 2.5px);
    left: calc(-1 * 2.5px);
    height: calc(100% + 2.5px * 2);
    width: calc(100% + 2.5px * 2);
    animation: none;
    transition: background-position .7s ease-in-out;
    background-repeat: no-repeat;
    filter: blur(2px);
}

.tag:hover:after {
    background-position: 100px;
}

.go:after {
    background: linear-gradient(60deg,
            #4DD0E1, 30%,
            #FFFFFF, 70%,
            #4DD0E1)
}

.py:after {
    background: linear-gradient(60deg,
            #FFDA4C, 20%,
            #326C9B, 90%,
            #FFDA4C);
}

.flask:after {
    background: linear-gradient(60deg,
            gray, 20%,
            #FFFFFF, 21%,
            gray);
}

.sql:after {
    background: linear-gradient(60deg,
            #E87B00, 30%,
            #FFFFFF, 70%,
            #E87B00)
}

.tg:after {
    background: linear-gradient(60deg,
            #29B6F6, 15%,
            #FFFFFF, 35%,
            #29B6F6);
}

.ts:after {
    background: linear-gradient(60deg,
            #017ACC, 40%,
            #FFFFFF, 50%,
            #017ACC);
}

.react:after {
    background: linear-gradient(60deg,
            #149ECA, 65%,
            #FFFFFF, 80%,
            #149ECA);
}

.java:after {
    background: linear-gradient(60deg,
            #1461B7,
            #EF4235,
            #1461B7);
}

.kt:after {
    background: linear-gradient(60deg,
            #D15064,
            #A23CE2,
            #775BF6,
            #D15064);
}

.android:after {
    background: linear-gradient(60deg,
            #30DC80, 20%,
            #FFFFFF, 40%,
            #30DC80);
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.links-wrapper {
    width: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
}

.links {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: 12px !important;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    box-shadow: 0px 0px 0px 0px #3b3b3b;
    transition: box-shadow .2s ease-in-out;
    border-radius: 10px;
}

.link img {
    max-width: 48px;
    max-height: 48px;
}

.link:hover {
    box-shadow: 0px 0px 0px 2px #3b3b3b;
}

.hoverUnderlineAnimation {
    display: inline-block;
    position: relative;
    color: inherit;
    text-decoration: none;
    transition: color .25s;
}

.hoverUnderlineAnimation:hover {
    color: #D82626;
}

.hoverUnderlineAnimation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #D82626;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.hoverUnderlineAnimation:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}